/* Error: Undefined variable.
 *    ,
 * 16 |   background-color: $slate
 *    |                     ^^^^^^
 *    '
 *   gallery/static/gallery/sass/_global.sass 16:21  @import
 *   gallery/static/gallery/sass/base.sass 1:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 16 \2502    background-color: $slate\a    \2502                      ^^^^^^\a    \2575 \a   gallery/static/gallery/sass/_global.sass 16:21  @import\a   gallery/static/gallery/sass/base.sass 1:9       root stylesheet";
}
