{% extends 'home/base.html' %}
{% block content %}
<div id="gradientTop" class="sticky-top"></div>
<section class="container">
  <h3 class="h3">Susan Kill Kegan, Registered Landscape Architect</h3>
  <a data-fancybox="gallery" href="{% load static %}{% static 'home/img/susan.jpg' %}">
    <img class="block-image" src="{% static 'home/img/susan.jpg' %}" alt="Susan with some helpers">
  </a>
  <p class="text-justify">Listening closely to clients to determine their objectives, Susan Kill Kegan designs landscapes that complement existing architecture and incorporates site conditions to produce a plan that is unique, functional and beautiful.</p>
  <p class="text-justify">Susan has a Bachelor of Landscape Architecture from the University of Illinois-Urbana and over 30 years of experience in all aspects of landscape architecture and construction. She also donates time and talent in a “pro bono” capacity, serving on several neighborhood committees providing design assistance.</p>
  <h3 class="h3">In the Press</h3>
  <p class="text-justify"><a href="https://www.chicagotribune.com/news/ct-xpm-1999-09-10-9909100356-story.html">Shielding your yard from noise and prying eyes &ndash; The Chicago Tribune</a></p>
  <a data-fancybox="gallery" href="{% static 'home/img/article.jpg' %}">
    <img class="block-image" src="{% static 'home/img/article.jpg' %}" alt="Chicago Tribune article">
  </a>
</section>
{% endblock %}
