{% extends 'home/base.html' %}
{% block content %}
<section class="container">
  {% include 'home/messages.html' %}
  <h3 class="h3">Upload Carousel Image</h3>
  <form action="{% url 'home:carousel-upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.image }}
    <section id="btnList">
      <ul>
        <li>
          <a class="btn btn-secondary" href="{% url 'home:carousel' %}">Back to Carousel Page</a>
        </li>
        <li>
          <input class="btn btn-primary" type="submit" value="Upload">
        </li>
      </ul>
    </section>
  </form>
</section>
{% endblock %}
