{% extends 'home/base.html' %}
{% block content %}
<section class="container">
  {% include 'home/messages.html' %}
  <h2 class="h2 text-center">Carousel Manager</h2>
  <ul id="btnList" class="text-center">
    <li>
      <a class="btn btn-secondary" href="{% url 'home:index' %}">Back to Home Page</a>
    </li>
    <li>
      <a class="btn btn-secondary" href="{% url 'home:carousel-upload' %}">Upload Images</a>
    </li>
    <li>
      <button id="submit" class="btn btn-primary">Save Changes</button>
    </li>
  </ul>
  <ol class="image-list">
    {% for img in images %}
    <li data-id="{{ img.id }}">
      <div class="controls">
        <i class="fas fa-caret-up fa-3x"></i>
        <i class="fas fa-caret-down fa-3x"></i>
      </div>
      <div class="thumbnail-container">
        <a data-fancybox="gallery" href="{{ img.image.url }}">
          <img src="{{ img.thumbnail.url }}" alt="Thumbnail">
        </a>
      </div>
      <div class="btn-container">
        <a href="{% url 'home:carousel-delete' img.id %}" class="btn btn-danger">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ol>
</section>{% load static %}
<!-- <script src="{% static 'home/js/carousel_manager.js' %}"></script> -->
<script src="{% static 'home/js/carousel_manager.min.js' %}"></script>
{% endblock %}