{% extends 'home/base.html' %}
{% block content %}
<section class="container">
  <h3 class="h3 text-center">Edit Carousel Images</h3>
  <section id="btnList">
    <ul>
      <li>
        <a class="btn btn-secondary" href="{% url 'home:carousel-upload' %}">Upload Photos</a>
      </li>
      <li>
        <button class="btn btn-primary inactive">Save Changes</button>
      </li>
    </ul>
  </section>
  <ol id="imageList">
    {% for img in images %}
    <li data-position="{{ forloop.counter0 }}" data-id="{{ img.id }}">
      <div class="controls">
        <i class="fas fa-caret-up fa-3x"></i>
        <i class="fas fa-caret-down fa-3x"></i>
      </div>
      <div class="img-container">
        <a data-fancybox="gallery" href="{{ img.image.url }}">
          <img src="{{ img.thumbnail.url }}" alt="Thumbnail">
        </a>
      </div>
      <div class="btn-container">
        <a href="{# url 'home:delete-carousel-image' forloop.counter0 #}" class="btn btn-danger">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ol>
</section>
{% endblock %}