{% if images %}
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for img in images %}
    <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">{% load static %}
    {% for img in images %}
    <div class="carousel-item{% if forloop.first %} active{% endif %}">
      <img class="d-block" src="{{ img.image.url }}" alt="Carousel slide">
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<script src="{% static 'home/js/carousel.min.js' %}"></script>
<!-- <script src="{% static 'home/js/carousel.js' %}"></script> -->
{% endif %}
