<footer id="footer">
  <div class="footer-list">
    <ul>
      {% if request.user.is_authenticated %}
      <li>
        <a href="{% url 'home:logout' %}"><small>Log Out</small></a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'home:login' %}"><small>Admin Login</small></a>
      </li>
      {% endif %}
      <li>
        <a class="external-link" href="https://github.com/mattmc318/Market-to-Market-Chicago"><small>GitHub</small></a>
      </li>
      <li>
        <a class="external-link" href="https://mccarthywebdesign.com/"><small>McCarthy Web Design</small></a>
      </li>
    </ul>
  </div>
  <p><small><span class="text-nowrap">&copy; {{ year }}</span> <span class="text-nowrap">{{ name }}.</span> <span class="text-nowrap">All rights reserved.</span></small></p>
</footer>