<footer id="footer">
  <div class="footer-list">
    <ul>
      <li>
        {% if request.user.is_authenticated %}
        <small><a href="{% url 'home:logout' %}">Log Out</a></small>
        {% else %}
        <small><a href="{% url 'home:login' %}">Admin Login</a></small>
        {% endif %}
      </li>
      <li>
        <small><a class="external-link" href="https://github.com/mattmc318/Susan-Kill-Kegan-and-Associates">GitHub</a></small>
      </li>
      <li>
        <small><a class="external-link" href="https://mccarthycode.com/">McCarthy Code</a></small>
      </li>
    </ul>
  </div>
  <small><span class="text-nowrap">&copy; {{ year }}</span> <span class="text-nowrap">{{ name }}.</span> <span class="text-nowrap">All rights reserved.</span></small>
</footer>
