{% extends 'home/base.html' %}
{% block content %}
{% include 'home/carousel.html' %}
<section class="container">
  {% include 'home/messages.html' %}
  {% if request.user.is_superuser %}
  <ul id="btnList" class="text-center">
    <li>
      <a href="{% url 'home:carousel' %}" class="btn btn-secondary">Carousel  Manager</a>
    </li>
  </ul>
  {% endif %}
  <h3 class="h3 text-center">Overview</h3>
  <p class="text-justify">Since 1985, Susan Kill Kegan &amp; Associates has provided creative solutions in landscape architecture from Lake Forest, IL, to Grand Beach, MI. A wide variety of project areas include single and multi-family residential, commercial, schools and enhancements. Many of these designs have required City of Chicago Landscape Ordinance compliance.</p>
  <p class="text-justify">As stated on the American Society of Landscape Architect's website, landscape architects have been “green since 1899”, dedicated to solving environmental problems through landscape design. Green roofs, bioswales, permeable pavers and other stormwater management solutions are evident in our designs.</p>
  <p class="text-justify">Susan Kill Kegan &amp; Associates' style is client and site driven. Great care is taken to determine objectives and together with existing conditions, develop a landscape plan that is beautiful and functional.</p>
  <h3 class="h3 text-center">Contact</h3>
  <address class="text-center">Susan Kill Kegan, RLA<br>
    9620 South Damen Avenue<br>
    Chicago, IL 60643<br>
    <a href="tel:+17732397119">+1 (773) 239-7119</a><br>
    <a href="mailto:skeganrla@sbcglobal.net">skeganrla@sbcglobal.net</a>
  </address>
</section>
{% endblock %}
