{% extends 'gallery/base.html' %}
{% block content %}
<section class="container">
  <h2 class="h2 text-center">Gallery Manager</h2>
  <ul id="btnList" class="text-center">
    <li>
      <a href="{% url 'gallery:index' %}" class="btn btn-secondary">Back to Gallery</a>
    </li>
    <li>
      <a href="{% url 'gallery:upload' %}" class="btn btn-secondary">Upload Images</a>
    </li>
    <li>
      <button id="submit" class="btn btn-primary">Save Changes</button>
    </li>
  </ul>
  {% for category in images_by_category %}
  {% if category.images %}
  <h3 class="h3 text-center">{{ category.name }}</h3>
  <ol class="image-list" data-id="{{ category.id }}">
  {% for img in category.images %}
    <li data-id="{{ img.id }}">
      <div class="controls">
        <i class="fas fa-caret-up fa-3x"></i>
        <i class="fas fa-caret-down fa-3x"></i>
      </div>
      <div class="thumbnail-container">
        <a data-fancybox="gallery" href="{{ img.image.url }}">
          <img src="{{ img.thumbnail.url }}" alt="Thumbnail">
        </a>
      </div>
      <div class="btn-container">
        <a href="{# url 'gallery:delete' img.id #}" class="btn btn-danger">Delete</a>
      </div>
    </li>
  {% endfor %}
  </ol>
  {% endif %}
  {% empty %}
  <p class="empty">There are no images to show at this time.</p>
  {% endfor %}
</section>
{% endblock %}