#carousel
  background-color: $black
  background-image: linear-gradient(to right, $dark-purple, $black, $dark-purple)

  .carousel-inner
    max-width: 800px
    height: 600px
    margin: 0 auto

  .carousel-control-prev-icon,
  .carousel-control-next-icon
    fill: $yellow
