#carousel
  background-color: $black
  background-image: radial-gradient(circle, $rangoon-green, $rangitoto)

  .carousel-inner
    width: 100%
    min-height: 259.5px
    max-height: 600px
    margin: 0 auto

    .carousel-item
      max-height: 600px

      img
        max-width: 800px
        max-height: 600px
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

  .carousel-control-prev-icon,
  .carousel-control-next-icon
    fill: $yellow
