#footer
  padding: .75rem
  background-color: $mid-gray
  right: 0
  bottom: 0
  left: 0
  z-index: 2

  p
    margin: 0
    text-align: center
    color: $white
    line-height: 1.2

  a
    color: $aqua

  p, a
    font-family: $open-sans

  .footer-list
    max-width: 14.5rem
    position: relative
    margin: auto
    overflow: hidden

    ul
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      margin: 0 0 0 -1px
      list-style: none
      padding-left: 0

      li
        line-height: 80%
        flex: 1 0 auto
        margin: .25em 0
        padding: 0 .5rem
        text-align: center
        border-left: 1px solid white
