$white: #ffffff
$white-50: #ffffff80
$lighter-gray: #bbbbbb
$light-gray: #818181
$mid-gray: #444444
$dark-gray: #333333
$dark-gray-50: #33333380
$darker-gray: #1e1e1e
$black: #000000

$slate: #87806d
$yellow: #faf9b2
$green: #77ffc0
$purple: #d4afff
$cyan: #00ffff

$breakpoint-xs: 0
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px